.audioPlayer {
  height: 5rem;
  background-color: #333;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.albumArt {
  height: 5rem;
  border-radius: 4px;
  margin-right: 1.5rem;
}

.albumArt>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
}

.playButton {
  margin: 0 0.2rem;
}

.smallButton {
  padding: 0.4rem !important;
}

.trackInfo {
  width: 12.5rem;
}

.trackTitle {
  font-weight: 600;
}

.trackArtist {
  color: #767676;
}

.sliderContainer {
  flex-grow: 1;
  margin-right: 1.5rem;
}

.slider {
  width: 100%;
}