:root {
  --color-primary-text: #f4f4f4;
  --color-primary-text-selected: #333;
  --color-primary-text-hover: #333;
  --color-secondary-text: #767676;
  --color-background: none;
  --color-background-selected: #e5e5e5;
  --color-background-hover: #f4f4f4;
  --color-action-background: #333;
  --color-action-background-hover: #555;
  --color-list-item-border: #333;
  --color-primary-hover: #333;
}

.list {}

.list .listRow,
.list .listRowEmpty {
  display: flex;
  align-items: center;
  height: 5rem;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-list-item-border, #333);
  padding: 0 1rem;
}

.list .listRow.clickable {
  cursor: pointer;
}

.list .listRow.clickable:hover {
  --color-primary-text: var(--color-primary-text-hover);
  --color-background: var(--color-background-hover);
  --color-action-background: var(--color-action-background-hover);
}

.list .listRowEmpty {
  justify-content: center;
  color: var(--color-secondary-text);
  border-bottom: unset;
}

.list .listRow.selected {
  --color-primary-text: var(--color-primary-text-selected);
  --color-background: var(--color-background-selected);
}

.list .listRowActions {
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.list .listRowActions button:hover {
  cursor: pointer;
  background: var(--color-secondary-text);
}

.list .listRowActions button img {
  width: 1.5rem;
  height: 1.5rem;
}

.list .listRowTitleWrap {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.list .listRow:last-child {
  border-bottom: none;
}

.list .listRowTitle {
  color: var(--color-primary-text);
  font-weight: 600;
}

.list .listRowSubtitle {
  color: var(--color-secondary-text);
}